/* responsive */

    /* tablet */
@media screen and (min-width: 780px) {
        
    /* card */
    .row-application {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
        
    .col-big {
        width: calc(100%/3*2 - 2rem);
        margin-bottom: 0;                       
    }

    .col-application {
        width: calc(100%/3 - 2rem);  
        margin-bottom: 0;    
    }

    /* testimonial  */

    .col-testimonial {
        display: flex;
    }

    .col-testimonial img{
        width: calc(100%/4);
    }

    .testimonial-txt {
        text-align: left ;
    }


}
    
        /* pc */
    
@media screen and (min-width: 992px) {

    /* header */
    .menu { 
            display: none;
    }

    .link{
        display: flex;
    }

    .container {
        width: 75%;
    }

    /* card  */

    .col-big {
        display: flex;
        aspect-ratio: 4/2;
    }

    /* planning */
    .planning { 
        width: 60%;       
        display: flex;
        gap: 2rem;
        
    }

    .strategic  .container-app {
        width: 50%;
        
    }

    
    }