/* responsive */

    /* tablet */
    @media screen and (min-width: 780px) {
    
    }
    
        /* pc */
    @media screen and (min-width: 992px) {

        /* header */
        .menu { 
            display: none;
        }

        .link{
            display: flex;
        }

        .container {
            width: 75%;
        }
        
    
    }