/* responsive */

    /* tablet */
@media screen and (min-width: 780px) {
        
    /* card */
    .row-application {
        display: flex;
        flex-wrap: wrap;
        gap: var(--grid-gap);
    }
        
    .col-big {
        width: calc(((100%/3 - (var(--grid-gap)/3)*2)*2) + (var(--grid-gap)));
        margin-bottom: 0; 
                          
    }

    .col-application {
        width: calc(100%/3 - (var(--grid-gap)/3)*2);  
        margin-bottom: 0;    
    }

    /* testimonial  */

    .col-testimonial {
        display: flex;
    }

    .col-testimonial img{
        width: 7rem;
        height: 7rem;
    }

    .testimonial-txt {
        text-align: left ;
    }

    /* benefit */  

    .col-benefit {       
        width: calc(100%/2 - (var(--grid-gap)/2));  
        margin-bottom: 0;                     
    }

    .row-benefit {
        display: flex;
        flex-wrap: wrap;
        gap: var(--grid-gap);
        margin-bottom: 0;        

    }

    /* about us  */
    .about {
        display: flex;
        justify-content: space-between;
    }

    .about-txt {
        width: 45%;
    }

    .tutor {
        width: 45%;
    }

    .tutor img {
        width: 100%;
    }

    .about-img i {        
        left: -4rem;
    }

    /* footer */
    .footer-container {
        width: 50%;
    }

   
       
    /* pc */
    
@media screen and (min-width: 992px) {

    /* header */
    .menu { 
            display: none;
    }

    .link{
        display: flex;
    }

    .container {
        width: 75%;
    }

    /* application */
    
    .col-big img {
        max-width: 90%;
        max-height: 90%;
        align-self: flex-end;
    }

    /* card  */

    .col-big {
        display: flex;
        aspect-ratio: 4/2;
    }

    /* planning */
    .container-planning { 
        width: 60%;       
        display: flex;
        gap: 2rem;   

    }

    .strategic  .container-app {
        width: 50%;
        
    }

    /* testimonioal */

    /* benefit */
    .col-benefit {       
        width: calc(100%/3 - (var(--grid-gap)/3)*2);
        margin-bottom: 0;                      
    }   

    /* about us  */

    .about-txt {
        width:60%;
    }

    .tutor {
        width: 30%;
    }  

    .about-img i {        
        left: -4rem;
    }

    .tutor h3 {        
        font-size: 1.5em;
    }

     /* call to action */
    
    .small-container {
        zoom: 80%;
    }
    
}