* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;    
}

:root {
    --background-blu: #0084fd;
    --background-lavander:#9792e4;
    --background-card: #b5ddff;

    --grid-gap: 2rem

}

/* common */
.button {     
    border-radius: 2rem;
    width: fit-content;    
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;  

}

.lavander {
    background-color: var(--background-lavander);
}

/* header */
header {
    background-color:var(--background-blu);
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header {    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;     
}

.link .button {
    color: black;
    background-color: white;

}

.link {
    display: none;
    
}

.link a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
}

/* main */
main {
    padding-top: 6rem;
}
/* card */
.col-application , .col-big {
    background-color: var(--background-card);
    border-radius: 1rem;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1.5rem;
   
}

.application :not(img) {
    margin-bottom: 1.5rem;
}

.card-title{
    color: var(--background-blu);
}

.application .button {
    background-color: var(--background-blu);
    width: calc(100%/3*2);
    color: white;
    text-align: center;
    height: 3rem;
    line-height: 3rem;    
}

.card {
    padding: 1.5rem;
}

.card-ico{
    font-size: 5rem;
    color: var(--background-blu);
}

.card-txt{
    text-align: center;
}

.card-txt > * {
    margin-bottom: 1.5rem;
}

/* planning */
.planning {
    padding: 5rem 0 3rem;
}

.strategic > * {
    margin-bottom: 3rem;
    color: white;
}

.container-app {
    background-color: white;
    border-radius: 3rem;
    padding: 2.5rem 1.5rem;
    text-align: center;
}

.app > * {
    margin-bottom: 2rem;
}

.app p {
    font-style: italic;
}

.fa-arrow-down {
    background-color: #9792e4;
    border-radius: 50%;   
    width: 3rem;    
    height: 3rem;
    padding: 1rem;
}

/* testimonial */
.testimonial {
    margin-top: 1.5rem;
    text-align: center;
}

.testimonial h2 {
    color: var(--background-lavander);
}

.testimonial > * {
    margin-bottom: 2rem;
}

.col-testimonial {    
    background-color: var(--background-lavander);    
    border-radius: 3rem;
    padding: 1.5rem;
    gap: 1rem;
    color: white;
    margin-bottom: 1.5rem;       
}

.col-testimonial img {
    border-radius: 50%;
    object-fit: cover;
    width: 17rem;
    height: 17rem;
    
}

.testimonial-txt > * { 
    margin-top: 1.5rem;   
      
}

/* benefit */

.benefit > h2{
    color: white;
    text-align: center;
    padding: 2rem 0;
    
}

.col-benefit > * {
    margin-bottom: 2rem;
}

.col-benefit {
    background-color: white;
    color: var(--background-lavander);
    padding: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}

.col-benefit h2{
    font-size: 3rem;
}

.col-benefit p {
    color: black;
}

.more {
    background-color: var(--background-lavander);
    color: white;
    padding: .5rem 2.5rem; 
    margin-bottom: 0;  
}
 
/* about us */
.about h2 {
    font-size: 3rem ;
    padding-bottom: 3rem;
    color: var(--background-lavander);
}
.about p {
    margin-bottom: 3rem;
}

.about-img {
    display: flex;
    margin-bottom: 3rem;
}

.about-img img {
    border-radius: 50%;
    width: 50%;
}

.about-img i {
    font-size: 4rem;
    position: relative;
    left: -2.5rem;    
    color: var(--background-lavander);
    
}

.about h3 {
    color: var(--background-lavander);
    font-size: 2rem;
    padding-bottom: 2rem;
}


.linkedin {
    color: white;
    background-color: var(--background-lavander);
    padding: .5rem 1rem;
}

.linkedin i {
    margin-right: 1rem;
}

.about {
    padding: 4rem 0 6rem ;
}


/* footer */